<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">Biography</a></li>
<li><a href="/publications">Publications</a></li>
<li><a href="/project">Projects</a></li>
<li><a href="/ta">Teaching</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:wangsheng.scu@gmail.com">Email</a></li>
   <li><a href="https://github.com/shengwa">Github</a></li>
   </ul>
  </footer>
  </body>

</html>
